body{
    background-color: rgb(32, 31, 31);
    background-image: url('./pexels-cottonbro-4125496.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
  }

#container {
    display: flex;
    justify-content: space-between;

}

#box1 {
    display: flex;
    /* justify-content: space-between; */
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}

#box1a {
    margin-right: 10px;
}

#box2 {
    background-color:aqua;
    width: 200px;
    height: 200px;
}