* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    /* Irá cobrir toda a página */
    min-height: 100%;
    background-image: url(../img/callft.jpg);
    background-size:auto;
}

header {
    height: 70px;
    background-color: #0B0F1F;
}

.top-nav {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 16px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding-top: 10px;
}

.nav-item {
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
}

.nav-item a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    cursor: pointer;
    color: #B31545;
    background-color: white;
    border-bottom: grey;
    text-decoration: none;
}

.intro-title {
    font-weight: 700;
    color: #F7941D;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 1px 0px #12A89D;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

.logo {
    font-weight: bold;
    color: #F7941D;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 2px 0px #12A89D;
    font-size: 30px;
    line-height: 1.4;
    text-decoration: none;
    padding-left: 0;
    padding-top: 10px;
}

.logo:hover {
    color: #B31545;
    text-decoration: none;
}

.intro-subtitle {
    text-shadow: 0;
    text-decoration: none;
}


.homepage-main {
    display: grid;
    grid-template-rows: 3fr, 1fr;
    padding-top: 180px;
    height: calc(100vh - 140px); 
}
  
.intro {
    padding-top: 20px;
    padding-bottom: 50px; 
}
  
.intro-title {
    font-family: Anton, sans-serif;
    font-weight: 700;
    transform: skewY(-7.5deg);
    color: #F7941D;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 2px 0px #12A89D;
    font-size: 6rem;
    text-align: center;
    padding-bottom: 5px; 
}
  
h2.intro-subtitle {
    font-family: Anton, sans-serif;
    font-weight: 700;
    transform: skewY(-7.5deg);
    color: #2931f7;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 2px 2px #fff;
    background-color: #0B0F1F;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    text-shadow: none; 
}

.button-main {
    margin-top: 50px;
}

.button-main, .button-gallery {
    display: block;
    padding: 5px 20px;
    margin: 100px auto 0 auto ;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid black;
    color: black;
    font-size: 2em;
    font-weight: 700;
    font-family: "Josefin sans", sans-serif; 
}

.button-main:hover, .button-gallery:hover {
    cursor: pointer;
    background-color: white;
    border-color: #2931f7;
    color: #2931f7; 
}

.button-main:active, .button-gallery:active {
    transform: translateY(1px); 
}

.button-main:focus, .button-gallery:focus {
    outline: none; 
}

.footer-pages {
    height: 30px;
    width: 100%; }
  
#footer-text {
    font-size: 0.75em;
    text-align: center;
    font-family: "Josefin sans", sans-serif; 
}
  
.body-pages {
    background: white; 
}
  
.header-pages {
    height: 180px;
    position: relative;
    background-size: cover; 
}

.main-pages {
    padding-top: 50px;
    text-align: center; 
}
  
  .galerie {
    width: 70%;
    margin: 0 auto; 
}
  
.responsive-pic {
    width: 250px;
    height: 300px;
    padding-bottom: 10px;
    object-fit: cover; 
}
  
.button-gallery {
    margin-bottom: 20px; 
}
  
.image-container {
    width: 100%;
    border-bottom: 10px solid #262626;
    margin-bottom: 20px; 
}
  
.content-image {
    width: 250px; 
}
  
@media all and (min-width: 705px) {
    .top-nav {
    flex-direction: row;
    justify-content: space-between; 
}
  
h1 {
    padding-bottom: 30px; 
}
  
.nav-item {
    padding: 2px 2px;
    font-size: 1.2rem; } 
}

@media all and (min-width: 800px) {
    .header-pages ::after {
    background-size: 32%; } 
}

.project-form {
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    font-family: "Josefin sans", sans-serif; 
}
  